/* Loginin =================================================================================================== */
.mod_login {
    padding:40px 40px 60px;
    background-color:#fff;
}
.mod_login .formbody {
    width:400px;
    margin-right:auto;
    margin-left:auto;
}
#tl_login input.text {
    width:100%;
    height:auto;
    margin-bottom:.7em;
    padding:.5em .7em;
    border:1px solid #e5e5e5;
    font-size:14px;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
#tl_login label {
    text-align:left;
}
#tl_login .submit_container {
    text-align:center;
}
